<div class="banner">
  <h1><%= @list.name %></h1>
</div>
<div class="container">
  <div class="container-bar">
<%# NEED: link_to à refaire bien %>
<%#  %>
<%#  %>
    <%#= link_to "add a movie", new_list_bookmark(params["id"]), class: "btn btn-gradient list-create-button" %>
<%#  %>
<%#  %>
  </div>
  <div class="lists-list">
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <% @movies.each do |movie| %>
        <div class="movie-card">
          <p><%= movie.title %></p>
          <p><%= movie.overview %></p>
      </div>
    <% end %>
  </div>
</div>
